<form>
  <div>
    <h1 >Login</h1>
  <input type="text" placeholder="Nome"><br><br>
<input type="password" placeholder="Senha"><br><br>
<input type="checkbox" id="Esqueci">
<label for="Esqueci">Me mantenha conectado</label><br><br>

<button>Entrar</button>
<a href="">Esqueci minha Senha</a>





</div>

</form>
