body {
}
div {
  border: solid 2px blue;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
input {
}
form {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
